body {
    margin: 0;
    padding: 0;
}
.content {
    margin: 10px;
    display: flex;
}
.card {
    width: 350px !important;
    margin: 10px;
}
::ng-deep .mat-card-header-text  {
    margin: auto !important;
}

[mat-card-image] {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

::ng-deep .mat-card-content {
    text-align: center !important;
}
::ng-deep .mat-card-actions p {
    position: relative;
    left: 23%;
}

::ng-deep .mat-spinner {
    margin: auto;
    position: relative;
    top: 100px;
    z-index: 999;
}